#form
{
	width:400px;
	margin:0 auto;
	margin-top:15px;
}

#form input
{
	margin-bottom:20px;
}

#form input.botao
{
	width: 90px;
	height: 30px;
	background: #959595;
	border:1px solid #FFF;
	color:black;
	font-size: 14px;
	font-weight:bold;
	margin-top: 15px;
}
#form textarea
{
	height:150px;
	width: 397px;
	background-image: url("../images/textarea.jpg");
	border:1px solid #000;
}
